h1 {
  font-weight: 380;
  font-size: 3rem;
  line-height: 3.5rem;
  padding: 1rem 0;
}

h2 {
  font-weight: 380;
  font-size: 2.5rem;
  line-height: 3rem;
  padding: 0.8rem 0;
}

h3 {
  font-weight: 380;
  font-size: 2rem;
  line-height: 2.7rem;
}

h4 {
  font-weight: 380;
  font-size: 2rem;
  line-height: 2.5rem;
}

h5 {
  font-weight: 380;
  font-size: 1.2rem;
  line-height: 2.2rem;
}

p {
  font-size: 0.95rem;
  font-weight: 400;
  margin-top: 24px;
  line-height: 1.5rem;
}

.lead-p1 {
  font-size: 1.4rem;
}

.lead-p2 {
  font-size: 1.2rem;
}

.btn {
  padding: 15px 30px;
  background: #3cadac;
  border-radius: 5px;
  color: white;
  margin: 2rem 0 0;
  font-weight: bold;
}
.btn:hover {
  cursor: pointer;
  color: white;
  background-color: #6ab9b9;
}

.btn-primary {
  background: #3cadac;
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
}
a:hover {
  color: #3cadac;
}

.hl-link {
  color: #3cadac !important;
  font-weight: 500;
}
.hl-link:hover {
  color: #226160 !important;
}

.primary-text h1 {
  padding: 0;
}
.primary-text p {
  margin-top: 1rem;
}

.comment {
  width: 400px;
  height: 288px;
  padding: 2rem 4rem 2rem 5rem;
  background: white;
  box-shadow: -15px 15px #ffe681;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment p {
  position: relative;
  margin: 0;
  padding: 0;
}
.comment p::before {
  content: '"';
  position: absolute;
  left: -60px;
  top: 27px;
  font-size: 100px;
}

.shop-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -5px;
  font-size: 1.2rem;
  text-align: center;
  background: #f6f4f5;
  width: 644px;
  height: 60px;
  padding: 16px;
}

.comment-alt {
  box-shadow: 15px 15px #fedcc1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444;
  overflow-x: hidden;
}

#top-link {
  background: #f4f4f4;
}
#top-link p {
  display: flex;
  justify-content: flex-end;
  width: 1200px;
  line-height: 2rem;
  margin: 0 auto;
  font-size: 0.8rem;
  padding-top: 0;
}

#main-navbar {
  width: 100vw;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
#main-navbar .navbar {
  display: flex;
  align-content: center;
  justify-content: space-between;
  max-width: 1200px;
  height: 90px;
  margin: auto;
}
#main-navbar .navbar #logo {
  margin: auto 0;
  width: 140px;
  height: 50px;
}
#main-navbar .navbar nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  font-size: 0.95rem;
}
#main-navbar .navbar nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#main-navbar .navbar nav .acc {
  width: 400px;
  height: 35px;
}
#main-navbar .navbar nav .acc li {
  padding: 10px 0 0 20px;
}
#main-navbar .navbar nav .menu {
  width: 800px;
  height: 55px;
}
#main-navbar .navbar nav .menu > li {
  padding: 13px 13px;
}
#main-navbar .navbar nav .menu .photo > li {
  position: relative;
  padding: 13px 13px;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
#main-navbar .navbar nav .menu .photo div {
  visibility: hidden;
  transition: height 0.1s ease;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  height: 230px;
  padding: 1.3rem 0;
  position: absolute;
  top: 115px;
  background: #fff;
  border: #ccc 1px solid;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: none;
  overflow: hidden;
}
#main-navbar .navbar nav .menu .photo div .menu-list {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2rem;
  padding: 0 1.5rem;
  border-right: 1px #ddd solid;
}
#main-navbar .navbar nav .menu .photo div .one {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#main-navbar .navbar nav .menu .photo div .two {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#main-navbar .navbar nav .menu .photo div .three {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-right: none;
}
#main-navbar .navbar nav .menu .photo:hover > li {
  background: #fff;
  border: #ccc 1px solid;
  border-bottom: none;
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  z-index: 2;
}
#main-navbar .navbar nav .menu .photo:hover div {
  visibility: visible;
  height: 270px;
}

#showcase {
  margin-bottom: 50px;
  padding: 0;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#showcase .slider {
  margin: auto;
  width: 1200px;
  height: 500px;
  overflow: hidden;
}
#showcase .slider .slides {
  width: 500%;
  height: 500px;
  display: flex;
}
#showcase .slider .slides input {
  display: none;
}
#showcase .slider .slides .slide {
  width: 20%;
  transition: 2s;
  z-index: -2;
}
#showcase .slider .slides .slide img {
  width: 1200px;
  height: 500px;
}
#showcase .slider .slides #radio1:checked ~ .navigation-manual .one {
  border: 2px solid #40d3dc;
  font-weight: 600;
  color: #333 !important;
}
#showcase .slider .slides #radio2:checked ~ .navigation-manual .two {
  border: 2px solid #40d3dc;
  font-weight: 600;
  color: #333 !important;
}
#showcase .slider .slides #radio3:checked ~ .navigation-manual .three {
  border: 2px solid #40d3dc;
  font-weight: 600;
  color: #333 !important;
}
#showcase .slider .slides .navigation-manual {
  position: absolute;
  top: 623px;
  width: 1200px;
  margin-top: -18px;
  display: flex;
  justify-content: center;
}
#showcase .slider .slides .navigation-manual .manual-btn {
  border: 1px solid #b1b1b1;
  border-radius: 20px;
  color: #333;
  text-align: center;
  padding: 5px 10px;
  background: white;
}
#showcase .slider .slides .navigation-manual .manual-btn:hover {
  color: #b1b1b1;
  cursor: pointer;
}
#showcase .slider .slides .navigation-manual .manual-btn:not(:last-child) {
  margin-right: 20px;
}
#showcase .slider .slides #radio1:checked ~ .first {
  margin-left: 0;
}
#showcase .slider .slides #radio2:checked ~ .first {
  margin-left: -20%;
}
#showcase .slider .slides #radio3:checked ~ .first {
  margin-left: -40%;
}

main #product {
  width: 1200px;
  margin: 0 auto;
  height: 1000px;
}
main #product .container {
  position: relative;
}
main #product .container .head-text {
  padding: 10px 0 70px;
  text-align: center;
}
main #product .container .head-text .color-heading {
  color: white;
  /* Fallback: assume this color ON TOP of image */
  background: url(../img/mainPageHeaderBackground.jpg) no-repeat center center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main #product .container .custom-photo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 80px;
  width: 1200px;
  height: 670px;
  background: #f5fafa;
}
main #product .container .custom-photo .primary-text {
  width: 300px;
  height: 100%;
}
main #product .container .custom-photo .primary-text p {
  margin-bottom: 2rem;
}
main #product .container .custom-photo input {
  display: none;
}
main #product .container .custom-photo .device-screen {
  position: relative;
}
main #product .container .custom-photo .device-screen .computer {
  border-radius: 3px;
  padding: 10px;
  background-color: #fff;
  width: 640px;
  height: 410px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}
main #product .container .custom-photo .device-screen .mobile {
  position: absolute;
  left: 205px;
  border-radius: 3px;
  padding: 10px;
  background-color: #fff;
  width: 210px;
  height: 410px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}
main #product .container .custom-photo .devices {
  position: absolute;
  right: 295px;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
}
main #product .container .custom-photo .devices .navigation-manual .manual-btn img {
  padding-right: 34px;
}
main #product .container .custom-photo .devices .navigation-manual .manual-btn img:hover {
  cursor: pointer;
}
main #product .container .custom-photo .devices .bottom-bar-c {
  position: absolute;
  bottom: -10px;
  right: 95px;
  border-bottom: #000000 2px solid;
  height: 2px;
  width: 100px;
  transition: transform 0.5s ease;
}
main #product .container .custom-photo .devices .bottom-bar-m {
  position: absolute;
  bottom: -10px;
  right: 17px;
  border-bottom: #000000 2px solid;
  height: 2px;
  width: 70px;
  visibility: hidden;
  transition: all 0.5s ease;
}
main #product .container .custom-photo #computer:checked ~ .device-screen .mobile {
  visibility: hidden;
}
main #product .container .custom-photo #mobile:checked ~ .device-screen .computer {
  visibility: hidden;
}
main #product .container .custom-photo #computer:checked ~ .devices .bottom-bar-m {
  transform: scale(0);
}
main #product .container .custom-photo #mobile:checked ~ .devices .bottom-bar-c {
  transform: scale(0);
}
main #product .container .custom-photo #mobile:checked ~ .devices .bottom-bar-m {
  visibility: visible;
}
main #product .container .comment {
  position: absolute;
  bottom: 0;
}
main #product .container .comment p::after {
  content: "- MARIANNE";
  display: block;
  text-align: end;
}
main #designs {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
main #designs .container {
  display: flex;
  justify-content: space-between;
}
main #designs .container .container-left {
  width: 758px;
}
main #designs .container .container-left .primary-text {
  padding-bottom: 3rem;
}
main #designs .container .container-left .image {
  display: flex;
  flex-direction: column;
}
main #designs .container .container-left .image a {
  margin-bottom: 5px;
  font-size: 0.9rem;
}
main #designs .container .container-left .image img {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  height: 650px;
}
main #designs .container .container-left .comment {
  position: relative;
  top: -2.7rem;
  width: 500px;
  height: 170px;
  background-color: #f5fbfb;
  float: right;
  box-shadow: none;
}
main #designs .container .container-left .comment p {
  margin-left: 32px;
}
main #designs .container .container-left .comment p::after {
  content: "- MIRANDA";
  display: block;
  padding-top: 1rem;
}
main #designs .container .container-left .comment .empty-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 100px;
  box-shadow: -10px 15px #ffe681;
}
main #designs .container .container-right {
  width: 400px;
}
main #designs .container .container-right .photo-lable h4 {
  font-weight: 500;
  margin: 0;
  padding: 1rem 0 0;
}
main #designs .container .container-right .photo-lable p {
  margin: 0;
  padding: 0.2rem 0;
}
main #designs .container .container-right .photo-lable img {
  width: 100%;
}
main #designs .container .container-right .photo-lable .lable:hover {
  color: #333;
}
main #designs .container .container-right .photo-lable .martha {
  position: relative;
  padding-bottom: 2rem;
}
main #designs .container .container-right .photo-lable .martha .martha-image {
  width: 400px;
  height: 400px;
  box-shadow: 13px 10px #fedcc1;
}
main #shop {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 4.5rem;
}
main #shop .container .box-row-top {
  height: 418px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
main #shop .container .box-row-top .meaningful {
  width: 540px;
  height: 418px;
  background-color: #f8e3cf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 56px;
}
main #shop .container .box-row-top .meaningful h1 {
  padding-right: 3.5rem;
}
main #shop .container .box-row-top .meaningful a {
  position: relative;
  top: 5px;
}
main #shop .container .box-row-top .photo-books a img {
  width: 644px;
  height: 362px;
}
main #shop .container .box-row-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #shop .container .box-row-bottom a {
  width: 389px;
  height: 272px;
}
main #shop .container .box-row-bottom a img {
  width: 389px;
  height: 272px;
}
main #shop .container .box-row-bottom a .shop-button {
  width: 389px;
}
main #hp-gr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 380px;
  margin-bottom: 1rem;
}
main #hp-gr .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 284px;
  background-color: #f5fafa;
}
main #hp-gr .banner .container-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  height: 284px;
}
main #hp-gr .banner .container-box .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 500px;
  margin-right: 5rem;
}
main #hp-gr .banner .container-box .text-container h4,
main #hp-gr .banner .container-box .text-container p {
  width: 522px;
}
main #community {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;
  height: 673px;
  margin-bottom: 3rem;
}
main #community .primary-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}
main #community .primary-text p {
  width: 512px;
}
main #community .manual-photo-slideshow {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 276px;
  padding: 10px 0;
  overflow: hidden;
}
main #community .manual-photo-slideshow input {
  display: none;
}
main #community .manual-photo-slideshow .arrow, main #community .manual-photo-slideshow #ratings .manual-rating-slideshow .arrow-r-right-2, main #ratings .manual-rating-slideshow #community .manual-photo-slideshow .arrow-r-right-2, main #community .manual-photo-slideshow #ratings .manual-rating-slideshow .arrow-r-right-1, main #ratings .manual-rating-slideshow #community .manual-photo-slideshow .arrow-r-right-1, main #community .manual-photo-slideshow #ratings .manual-rating-slideshow .arrow-r-left-2, main #ratings .manual-rating-slideshow #community .manual-photo-slideshow .arrow-r-left-2, main #community .manual-photo-slideshow #ratings .manual-rating-slideshow .arrow-r-left-1, main #ratings .manual-rating-slideshow #community .manual-photo-slideshow .arrow-r-left-1, main #community .manual-photo-slideshow .arrow-right-2, main #community .manual-photo-slideshow .arrow-right-1, main #community .manual-photo-slideshow .arrow-left-2, main #community .manual-photo-slideshow .arrow-left-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 276px;
  color: #333;
  background-color: white;
  padding: 0 2px;
}
main #community .manual-photo-slideshow .arrow-left-1 {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
}
main #community .manual-photo-slideshow .arrow-left-2 {
  visibility: hidden;
}
main #community .manual-photo-slideshow .arrow-right-2 {
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 0;
}
main #community .manual-photo-slideshow .image-display {
  z-index: -1;
  width: 1120px;
  overflow: hidden;
}
main #community .manual-photo-slideshow .image-display .image-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300%;
  overflow: hidden;
}
main #community .manual-photo-slideshow .image-display .image-row img {
  width: 276px;
  height: 276px;
  margin: 0 2px;
  transition: all 1s ease;
}
main #community .manual-photo-slideshow #right-1:checked ~ .image-display .image-row .first {
  margin-left: -33.3%;
}
main #community .manual-photo-slideshow #right-1:checked ~ .manual-btn .arrow-right-1 {
  visibility: hidden;
}
main #community .manual-photo-slideshow #right-1:checked ~ .manual-btn .arrow-right-2 {
  visibility: visible;
}
main #community .manual-photo-slideshow #right-1:checked ~ .manual-btn .arrow-left-1 {
  visibility: visible;
}
main #community .manual-photo-slideshow #right-2:checked ~ .image-display .image-row .first {
  margin-left: -66.6%;
}
main #community .manual-photo-slideshow #right-2:checked ~ .manual-btn .arrow-right-2 {
  visibility: hidden;
}
main #community .manual-photo-slideshow #right-2:checked ~ .manual-btn .arrow-right-1 {
  visibility: hidden;
}
main #community .manual-photo-slideshow #right-2:checked ~ .manual-btn .arrow-left-1 {
  visibility: hidden;
}
main #community .manual-photo-slideshow #right-2:checked ~ .manual-btn .arrow-left-2 {
  visibility: visible;
}
main #community .manual-photo-slideshow #left-2:checked ~ .image-display .image-row .first {
  margin-left: -33.2%;
}
main #community .manual-photo-slideshow #left-2:checked ~ .manual-btn .arrow-right-2 {
  visibility: visible;
}
main #community .manual-photo-slideshow #left-2:checked ~ .manual-btn .arrow-right-1 {
  visibility: hidden;
}
main #community .manual-photo-slideshow #left-2:checked ~ .manual-btn .arrow-left-1 {
  visibility: visible;
}
main #community .manual-photo-slideshow #left-2:checked ~ .manual-btn .arrow-left-2 {
  visibility: hidden;
}
main #community .manual-photo-slideshow #left-1:checked ~ .image-display .image-row .first {
  margin-left: 0;
}
main #community .btn {
  margin: 4rem auto 1.5rem;
}
main #ratings {
  width: 100vw;
  height: 240px;
  margin: 0 0 50px;
}
main #ratings .manual-rating-slideshow {
  position: relative;
  width: 100vw;
  height: 180px;
  margin: auto;
}
main #ratings .manual-rating-slideshow input {
  display: none;
}
main #ratings .manual-rating-slideshow .arrow, main #ratings .manual-rating-slideshow .arrow-r-right-2, main #ratings .manual-rating-slideshow .arrow-r-right-1, main #ratings .manual-rating-slideshow .arrow-r-left-2, main #ratings .manual-rating-slideshow .arrow-r-left-1, main #ratings .manual-rating-slideshow #community .manual-photo-slideshow .arrow-left-1, main #community .manual-photo-slideshow #ratings .manual-rating-slideshow .arrow-left-1, main #ratings .manual-rating-slideshow #community .manual-photo-slideshow .arrow-left-2, main #community .manual-photo-slideshow #ratings .manual-rating-slideshow .arrow-left-2, main #ratings .manual-rating-slideshow #community .manual-photo-slideshow .arrow-right-1, main #community .manual-photo-slideshow #ratings .manual-rating-slideshow .arrow-right-1, main #ratings .manual-rating-slideshow #community .manual-photo-slideshow .arrow-right-2, main #community .manual-photo-slideshow #ratings .manual-rating-slideshow .arrow-right-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: #999 1px solid;
  border-radius: 50%;
  color: #999;
  background-color: white;
}
main #ratings .manual-rating-slideshow .arrow-r-left-1 {
  position: absolute;
  top: 70px;
  left: 25px;
  border: #ddd 1px solid;
  color: #ddd;
}
main #ratings .manual-rating-slideshow .arrow-r-left-2 {
  position: absolute;
  top: 70px;
  left: 25px;
  visibility: hidden;
}
main #ratings .manual-rating-slideshow .arrow-r-right-1 {
  position: absolute;
  top: 70px;
  right: 25px;
  padding-left: 1px !important;
}
main #ratings .manual-rating-slideshow .arrow-r-right-2 {
  position: absolute;
  top: 70px;
  right: 25px;
  visibility: hidden;
  padding-left: 1px !important;
}
main #ratings .manual-rating-slideshow .rating-display {
  width: calc(100vw - 130px);
  height: 180px;
  margin: 0 auto;
  overflow: hidden;
}
main #ratings .manual-rating-slideshow .rating-display .rating-row {
  display: flex;
  justify-content: center;
  width: 300%;
  height: 180px;
  transition: all 1s ease;
}
main #ratings .manual-rating-slideshow .rating-display .rating-row .rating-box {
  position: relative;
  width: 20%;
  height: 170px;
  overflow: hidden;
  background-color: #f5fbfb;
  padding: 0.8rem;
  margin: 0 0.25%;
  transition: all 1s ease;
  border-radius: 2px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
main #ratings .manual-rating-slideshow .rating-display .rating-row .rating-box .star {
  margin-top: 0;
}
main #ratings .manual-rating-slideshow .rating-display .rating-row .rating-box h5 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.8rem;
  margin: 0.8rem 0;
}
main #ratings .manual-rating-slideshow .rating-display .rating-row .rating-box p {
  font-size: 0.8rem;
  margin-top: 0px;
  line-height: 1rem;
}
main #ratings .manual-rating-slideshow .rating-display .rating-row .rating-box p span i {
  color: #05c053;
  margin: 1px;
}
main #ratings .manual-rating-slideshow .rating-display .rating-row .rating-box .user {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.8rem;
  margin-top: 0px;
  line-height: 1rem;
  display: block;
  color: #999;
  padding: 1rem 0 0.8rem 0.8rem;
}
main #ratings .manual-rating-slideshow .rating-display .rating-row .fifth p span i {
  color: #74d41a !important;
}
main #ratings .manual-rating-slideshow .rating-display .rating-row .fifth p .star-none i {
  color: #ccc !important;
}
main #ratings .manual-rating-slideshow #r-right-1:checked ~ .rating-display .rating-row .first {
  margin-left: -33.3%;
}
main #ratings .manual-rating-slideshow #r-right-1:checked ~ .rating-display .rating-row .last {
  margin-right: 33.3%;
}
main #ratings .manual-rating-slideshow #r-right-1:checked ~ .manual-btn .arrow-r-right-1 {
  visibility: hidden;
}
main #ratings .manual-rating-slideshow #r-right-1:checked ~ .manual-btn .arrow-r-right-2 {
  visibility: visible;
}
main #ratings .manual-rating-slideshow #r-right-1:checked ~ .manual-btn .arrow-r-left-1 {
  border: #999 1px solid;
  color: #999;
}
main #ratings .manual-rating-slideshow #r-right-2:checked ~ .rating-display .rating-row .first {
  margin-left: -66.6%;
}
main #ratings .manual-rating-slideshow #r-right-2:checked ~ .rating-display .rating-row .last {
  margin-right: 66.6%;
}
main #ratings .manual-rating-slideshow #r-right-2:checked ~ .manual-btn .arrow-r-right-2 {
  border: #ddd 1px solid;
  color: #ddd;
  visibility: visible;
}
main #ratings .manual-rating-slideshow #r-right-2:checked ~ .manual-btn .arrow-r-right-1 {
  visibility: hidden;
}
main #ratings .manual-rating-slideshow #r-right-2:checked ~ .manual-btn .arrow-r-left-1 {
  visibility: hidden;
}
main #ratings .manual-rating-slideshow #r-right-2:checked ~ .manual-btn .arrow-r-left-2 {
  visibility: visible;
}
main #ratings .manual-rating-slideshow #r-left-2:checked ~ .rating-display .rating-row .first {
  margin-left: -33.2%;
}
main #ratings .manual-rating-slideshow #r-left-2:checked ~ .rating-display .rating-row .last {
  margin-right: 33.3%;
}
main #ratings .manual-rating-slideshow #r-left-2:checked ~ .manual-btn .arrow-r-right-2 {
  visibility: visible;
}
main #ratings .manual-rating-slideshow #r-left-2:checked ~ .manual-btn .arrow-r-right-1 {
  visibility: hidden;
}
main #ratings .manual-rating-slideshow #r-left-2:checked ~ .manual-btn .arrow-r-left-1 {
  visibility: visible;
}
main #ratings .manual-rating-slideshow #r-left-1:checked ~ .rating-display .rating-row .first {
  margin-left: 0%;
}
main #ratings .bottom-text {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0;
}
main #ratings .bottom-text a {
  text-decoration: underline;
}
main #ratings .bottom-text i {
  color: #05c053;
}
main #explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #explore .primary-text {
  text-align: center;
  margin-bottom: 12rem;
}
main #explore .photo-lable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 360px;
  margin: 0 auto;
  background: #faf9f7;
}
main #explore .photo-lable .baby-books,
main #explore .photo-lable .christmas-cards,
main #explore .photo-lable .calendars {
  position: relative;
  top: -100px;
  width: 21rem;
  height: auto;
  margin: 0.5rem;
  margin-top: 0;
}
main #explore .photo-lable .baby-books:hover,
main #explore .photo-lable .christmas-cards:hover,
main #explore .photo-lable .calendars:hover {
  color: #333;
}
main #explore .photo-lable .baby-books h5,
main #explore .photo-lable .christmas-cards h5,
main #explore .photo-lable .calendars h5 {
  margin-top: 0.7rem;
  font-weight: 400;
}
main #explore .photo-lable .baby-books .image img,
main #explore .photo-lable .christmas-cards .image img,
main #explore .photo-lable .calendars .image img {
  width: 100%;
  height: 100%;
}
main #explore .photo-lable .baby-books .hl-link,
main #explore .photo-lable .christmas-cards .hl-link,
main #explore .photo-lable .calendars .hl-link {
  margin-top: 0.5rem;
}
main footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 780px;
  background: #f5f5f5;
}
main footer .links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1200px;
  height: 480px;
  border-bottom: #ccc 1px dashed;
  padding-top: 80px;
}
main footer .links h5 {
  font-size: 1.4rem;
}
main footer .links p {
  font-size: 0.95rem;
}
main footer .links li {
  font-size: 0.95rem;
  line-height: 2rem;
  width: 230px;
  display: block;
}
main footer .links .contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 24rem;
}
main footer .links .contact .hl-link {
  font-weight: bold;
}
main footer .links .contact p {
  margin: 0.8rem 0;
}
main footer .links .contact ul li {
  line-height: 2rem;
}
main footer .links .contact .hl-link {
  font-size: 1rem;
  margin-top: 1.6rem;
}
main footer .links .products {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
main footer .links .products h5 {
  margin-bottom: 0.6rem;
}
main footer .links .products div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
main footer .links .programs h5 {
  margin-bottom: 0.6rem;
}
main footer .links .programs ul li {
  width: 140px;
}
main footer #sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
main footer #sub h5 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  padding-bottom: 10px;
}
main footer #sub form {
  height: 42px;
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 1rem;
}
main footer #sub form input {
  height: 40px;
}
main footer #sub form #email {
  width: 288px;
  border: #bbb 1.5px solid;
  border-radius: 3px;
  padding: 10px;
}
main footer #sub form #email::placeholder {
  color: #bbb;
  font-weight: bold;
}
main footer #sub form .btn {
  border: none;
  font-size: 1rem;
  height: 40px;
  padding: 10px 20px;
  margin-top: 0;
  margin-left: 0.5rem;
}
main footer #sub .social-icon i {
  padding: 1rem 0.5rem;
}
main footer #sub .link a {
  font-size: 0.9rem;
  padding: 1rem;
}
main footer #sub .cp-right {
  margin-top: 0;
}