h1 {
  font-weight: 380;
  font-size: 3rem;
  line-height: 3.5rem;
  padding: 1rem 0;
}

h2 {
  font-weight: 380;
  font-size: 2.5rem;
  line-height: 3rem;
  padding: 0.8rem 0;
}

h3 {
  font-weight: 380;
  font-size: 2rem;
  line-height: 2.7rem;
}

h4 {
  font-weight: 380;
  font-size: 2rem;
  line-height: 2.5rem;
}

h5 {
  font-weight: 380;
  font-size: 1.2rem;
  line-height: 2.2rem;
}

p {
  font-size: 0.95rem;
  font-weight: 400;
  margin-top: 24px;
  line-height: 1.5rem;
}

.lead-p1 {
  font-size: 1.4rem;
}

.lead-p2 {
  font-size: 1.2rem;
}

.btn {
  padding: 15px 30px;
  background: #3cadac;
  border-radius: 5px;
  color: white;
  margin: 2rem 0 0;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    color: white;
    background-color: #6ab9b9;
  }
}

.btn-primary {
  background: #3cadac;
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #333;

  &:hover {
    color: #3cadac;
  }
}

.hl-link {
  color: #3cadac !important;
  font-weight: 500;

  &:hover {
    color: #226160 !important;
  }
}

.primary-text {
  h1 {
    padding: 0;
  }

  p {
    margin-top: 1rem;
  }

  a {}
}

// .container {
//     width: 1200px;
//     margin: 0 auto;
// }

// Comment
.comment {
  width: 400px;
  height: 288px;
  padding: 2rem 4rem 2rem 5rem;
  background: white;
  box-shadow: -15px 15px #ffe681;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    position: relative;
    margin: 0;
    padding: 0;

    &::before {
      content: '"';
      position: absolute;
      left: -60px;
      top: 27px;
      font-size: 100px;
    }
  }
}

// shop button
.shop-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -5px;
  font-size: 1.2rem;
  text-align: center;
  background: #f6f4f5;
  width: 644px;
  height: 60px;
  padding: 16px;
}

.comment-alt {
  box-shadow: 15px 15px #fedcc1;
}